@model IEnumerable<TaskApp.Web.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

 <h6 class="1">@TempData["success_notification"]</h6>
 <h6 class="2">@TempData["update_notification"]</h6>
 <h6 class="3">@TempData["delete_notification"]</h6>

<h1>Tasks List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Title
            </th>
            <th>
             Description
            </th>
            <th>
             Task Date
            </th>
            <th>
             Added By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
              @item.Title
            </td>
            <td>
              @item.Description
            </td>
              <td>
                    @if (@item.TaskDate < DateOnly.FromDateTime(DateTime.Today))
                  {
                        <p class="old"> @item.TaskDate</p>
                  }
                  else
                  {
                        @item.TaskDate
                  }
               </td>
                <td>
            @item.User
               </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<style>
    .old
    {
    color:red;
    font-weight:bold;

    }

</style>